.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
}



input:invalid {
  border: 1px solid red;
}
input:invalid + span::before {
  content: "This field is required";
  color: red;
  font-size: 12px;
}


body{
  background-image: linear-gradient(to bottom right, #004d7a, #a8eb12); 
}
.back{
  background-image: linear-gradient(to bottom right, #507c95, #889669); 
}




